<!-- table.html -->
{% extends 'frontend/base.html' %}

{% load django_bootstrap5 %}
{% load django_fast_frontend %}

{% block title %}{{ meta.title }}{% endblock %}

{% block content %}
    {% with request.path|split:"/" as segments %}
        {% if option.site.title %}
            <h1>{{ meta.title }}</h1>
        {% endif %}
        {% if option.table.add %}
            {% include 'frontend/_form.html' %}
        {% endif %}
    {% if option.table.show %}
        {% if option.table.search %}
            {% include 'frontend/_search.html' %}
        {% endif %}
        {% if option.table.cards %}
            {% include 'frontend/_cards.html' %}
        {% else %}
            {% include 'frontend/_table.html' %}
        {% endif %}
        {% include 'frontend/_pagination.html' %}
    {% endif %}
    {% endwith %}
{% endblock %}
