{% extends "frontend/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="col d-flex justify-content-between">
    <h1>{{ meta.title }}</h1>
    {% if segments.3 %}
        <a href="{% url 'frontend' %}">{% bootstrap_button button_class="btn-outline-primary" button_type="button" content="Back" %}</a>
    {% endif %}
</div>

<form method="post" class="needs-validation">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="col d-flex justify-content-between">
        {% bootstrap_button button_type="submit" content=meta.title %}
    </div>
</form>
{% endblock %}
